@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background: #474bff;
    background: -webkit-linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
    background: linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
    
}

#container {
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 20em;
    border-radius: 15px;
}

.container-block {
    width: 25%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
}

.container-block span {
    display: block;
    margin-top: 1em;
    font-size: 4em;
}

.container-block p {
    margin: 2em 0;
    font-size: 1.2em;
    font-weight: bold;
}


.container-block span,
.container-block p {
    text-align: center;
}